

body{
    background-color: aquamarine;
}

table, th, td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

table tr,td,th {
    padding-left: 20px;
    padding-right: 20px;
}


.performance-number
{
    text-align: right;
}