<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Distributed Airolib-ng</title>
</head>
<body>
    <h1>Distributed Airolib-ng - Version v241023</h1>
    <p>To view the performance stats, please visit <a href="/status">/status</a></p>
</body>
</html>